extends layout


block content
  h1 Your #{title}
  h2 Incoming Messages: 
  // button to direct page to adding messages
  form(method='GET' action='/new')
    button#addBtn Something on your mind?
  // loop thru each message and display it
  each val, index in messages 
   div.box= 'From ' + val.user + ' on ' + date[index] + ': ' + val.text