extends layout

block content
  h1 Your #{title}
  h2 Incoming Messages: 
  // button to direct page to adding messages
  form(method='GET' action='/new')
    button#addBtn Something on your mind?
  // loop thru each message and display it
  each message in messages  
    div.box= 'From ' + message.user + ' at ' + moment(message.added).format('MMMM Do YYYY, h:mm:ss a') + ': ' +  message.text
